html {
    background: #707191;
}
body {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
}
.banner {
    padding: 3rem;
    color: white;
}
.tab-bar {
    background: #9c6;
    border-top: 1px solid black;
    border-bottom: .25em solid black;
    border-left: 1px solid black;
}
.tab {
    display: inline-block;
    padding: .5em .75em;
    border-right: 1px solid black;
    color: black;
    text-decoration: none;
}

.tab:hover {
    color: white;
}

h1 {
    margin: 0;
    letter-spacing: 0;
}

.content {
    background: white;
    padding: 2em;
}

.content h1 {
    font-size: 4rem;
    letter-spacing: 0;
    margin-bottom: .5em;
}

.content h2 {
    font-size: 3.5rem;
    letter-spacing: 0;
}

.content h3 {
    font-size: 3rem;
    letter-spacing: 0;
}

.content h4 {
    font-size: 3rem;
    letter-spacing: 0;
}

.footer {
    background: black;
    color: white;
    text-align: center;
    padding: .5em;
}

.footer p {
    margin: 0;
}

p.headline {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
}

.card {
    border: 1px solid black;
    text-align: center;
    padding: 1em 2em;
    max-width: 17em;
    margin: auto;
}

.center {
    text-align: center;
}

.container {
    padding: 0;
    width: 100%;
}
@media (min-width: 550px) {
    .container {
        padding: 20px;
        width: 80%;
    }

    .banner {
        padding: 3rem 0;
    }

    h1 {
        margin: 0;
    }
}


