<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Sarai Batchelder, PhD</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <style>
    {% include style.css %}
  </style>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row banner">
      <h1>Sarai Batchelder, PhD</h1>
    </div>

    <div class="row white-rule" style="background: white; height: .35rem; font-size: 1px; line-height: 1px">
        &nbsp;
    </div>

    <div class="row tab-bar">
      <!--
      --><a class="tab" href="/">Home</a><!--
      --><a class="tab" href="/publications.html">Publications</a><!--
      --><a class="tab" href="/credentials.html">Training and Experience</a><!--
      --><a class="tab">Contact Me</a>
    </div>

    {{ content }}

    <div class="row footer">
      <p>All rights reserved</p>
    </div>
  </div>

</body>
</html>
